/*
blue: #3a92ff
gray: #6e6e6e
dark-gray: #3c3c3c;
*/


body{
    background-color: #6e6e6e;
}

#header{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #3a92ff;
    border-bottom: 10px solid #3c3c3c ;

}

#login-button{
    background-color: #6e6e6e !important;
    border: 0px;
    color: white !important;
}

#loginAsContainer{
    margin-top: 10%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#loginAs{
    background-color: #3a92ff;
}

#loginAsLinks{
    background-color: #3c3c3c;
}

#loginAsLinks ul{
    list-style: none;
}

#loginAsLinks a{
    color: white !important;
    text-decoration: none;
    margin-left: 2em;
}

#loginAsLinks a:hover{
    border-bottom: 1px solid;
    border-color: #3a92ff;
    transition: 0.5s;
}

#ansprechpartner{
    color: white;
}