/*
blue: #3a92ff
gray: #6e6e6e
dark-gray: #3c3c3c;
*/

body{
    background-color: #5f5f5f;
}

#header{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #3a92ff;
    border-bottom: 10px solid #3c3c3c ;
    z-index: 99999;

}

#login-button{
    background-color: #6e6e6e !important;
    border: 0px;
    color: white !important;
}

#loginAsContainer{
    margin-top: 10%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#loginAs{
    background-color: #3a92ff;
    width: fit-content;
}

#loginAs input{
    margin: 5%;
    width: 80%;
    border-radius: 10px;
    background-color: #707070;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-color: #3c3c3c !important;
}

#loginAsLinks{
    background-color: #3c3c3c;
}

#loginAsLinks ul{
    list-style: none;
}

#loginAsLinks a{
    color: white !important;
    text-decoration: none;
    margin-left: 2em;
}

#loginAsLinks a:hover{
    border-bottom: 1px solid;
    border-color: #3a92ff;
    transition: 0.5s;
}

#ansprechpartner{
    color: white;
}

input{
    border-radius: 10px;
    background-color: #3c3c3c;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    border-color: #3c3c3c !important;
}

form button{
    background-color: #3c3c3c;
    color: white;
    border-color: #303030;
    border-radius: 30%;
    padding: 1%;
}

form select{
    border-radius: 20px;
    background-color: #3c3c3c;
    color: white;
    padding-left: 3%;
    border-color: #3c3c3c !important;
}

hr{
    color: #000000;
    height: 6px !important;
    border-radius: 70%;
}

#ansprechpartner h1{
    padding-top: 10%;
}

ul {
    list-style: none;
}

#termine{
    text-align: center;
    width: 100%;
    color: white;
}

#termine tr, td, th{
    margin-left: 10px;
    margin-right: 10px;
}